# Session2 (after lunch)

# Lab7

In [162]:
# Global Variables

counter = 1

def addcounter():
    print(counter)

print(counter)
addcounter()
print(counter)

1
1
1

In [163]:
# Error due to undefined variables in function

counter = 1

def addcounter():
    counter = counter + 1  #Error due to local variables
    print(counter)

print(counter)
addcounter()
print(counter)

1

UnboundLocalError: local variable 'counter' referenced before assignment

In [164]:
counter = 1

def addcounter():
    global counter #added global variable
    counter = counter + 1  
    print(counter)

print(counter)
addcounter()
print(counter)

1
2
2

Tips : Minimize usage of global variables

# Lab 8. Using Lists

In [165]:
list1 = [1,2,3,4,5,6]
list2 = ['apple','orange','pineapple']
list3 = [True, 1, 3.14, "Hello"]
list4 = [list1, list2, list3]

### Accessing elements in list

In [166]:
len(list1) #length of list1

6

In [167]:
len(list4) #length of list4

3

In [168]:
list1[0] #first element

1

In [169]:
list1[-1] #last element

6

In [170]:
list1[-2] #last second element

5

In [171]:
list4[1][-1] #accessing pineapple through list 2

'pineapple'

In [172]:
list4[1][2] #accessing pineapple through list 2

'pineapple'

In [173]:
list2[:2] #to get elements from 0 to 1

['apple', 'orange']

In [174]:
list2[1:] #to get elements after and equals 1

['orange', 'pineapple']

In [175]:
list1 = [1,2,3,4,5,6]
list2 = ['apple','orange','pineapple']
list3 = [True, 1, 3.14, "Hello"]
list4 = [list1, list2, list3]

In [176]:
list1[::2] #list[start:end:step] #step jumps of item

[1, 3, 5]

In [177]:
list1[::3]

[1, 4]

In [178]:
list2[1:]

['orange', 'pineapple']

In [179]:
list1[::-1]

[6, 5, 4, 3, 2, 1]

In [180]:
list1.append(4) #statement - statement does not return any value
print(list1)

[1, 2, 3, 4, 5, 6, 4]

### Reverse List

In [181]:
# list1[-1:0:-1]
list1[-1:0:-1] #reverse list

[4, 6, 5, 4, 3, 2]

In [182]:
list5 = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
list5

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [183]:
list5[-1:0:-1]

[14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [184]:
# Tips
# Fibonacci sequences
# 1 2 3 4 5 13 21
# t miles is to t+1 km

### Insert

In [185]:
list1 = [1,2,3,4,5,6]
# INSERT VALUE 9 INTO INDEX 9
# list1.insert(1,9)

In [186]:
# Append value 10 as element 10
list1 = list1 + 10

TypeError: can only concatenate list (not "int") to list

In [187]:
list1 = list1 + [10]
list1

[1, 2, 3, 4, 5, 6, 10]

In [188]:
list1.append([10])
list1

[1, 2, 3, 4, 5, 6, 10, [10]]

In [189]:
# cursor, shift tab tab tab(anchor)
# cursor, shift tab tab (bigger)
# cursor, shift tab (small)

#**add the cursor behind (" /")

In [190]:
#how to have the below as in same line

print("Hello, ")
print("World")

Hello,
World

In [116]:
#how to have the below as in same line

print("Hello ", end="")
print("World")

Hello World

# Expression vs statement

In [ ]:
An expression evaluates to a value. A statement does something.

>>> x + 2         # an expression
>>> x = 1         # a statement 
>>> y = x + 1     # a statement
>>> print y       # a statement (in 2.x)
2

# Range
### range acts as iterator

In [124]:
r = range(5) 
print(r)
print(list(r))

range(0, 5)
[0, 1, 2, 3, 4]

In [126]:
r = range(1,6) 
print(r)
print(list(r))

range(1, 6)
[1, 2, 3, 4, 5]

In [127]:
# color 

str = 'Hello'
num = 5
print("num is " + str(5))

TypeError: 'str' object is not callable

In [133]:
r = range(1,51,2)
list(r)

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [132]:
r = range(0,52,2)
list(r)

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

# Slicing

### x = r[:]

In [153]:
list1 = list(range(20,30,2))
list2 = list(range(1,10))
print(list2)
list2 = list1[1:10]
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[22, 24, 26, 28]

In [154]:
list1 = list(range(20,30,2))
list2 = list(range(1,10))
print(list2)
list2.append(list1[1:10])
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, [22, 24, 26, 28]]

# Unpacking

In [155]:
scores = [70,89,65]
math, english, science = scores
math

70

In [156]:
scores = [70,89,65]
math, english, _ = scores
math

70

In [157]:
scores = [70,89,65,90]
math, english, _ = scores
math

ValueError: too many values to unpack (expected 3)

In [158]:
scores = [70,89,65,90]
math, english, _, _ = scores
math

70

In [159]:
scores = [70,89,65,90]
math, english, _, _ = scores
_,_

(90, 90)

In [160]:
scores = [70,89,65,90]
math, english, _, _ = scores
print(_,_)

90 90

In [161]:
scores = [70,89,65,90]
math, english, _, _ = scores
print(math,_,_)

70 90 90

In [1]:
import random
scores = [round(random.random()*100,2) for x in range(5)]
print(scores)
math,english,_,_,_=scores
print(english)

[63.4, 45.39, 42.53, 49.83, 89.96]
45.39

In [191]:
list1

[1, 2, 3, 4, 5, 6, 10, [10]]

In [195]:
fruits = ['apple','orange','pineapple']
for fruit in fruits:
    print(fruit, end = " ")

apple orange pineapple

In [210]:
fruits = ['apple','orange','pineapple','straw']
for fruit in fruits:
    print(fruit)
    print("_" *len(fruit))

apple
_____
orange
______
pineapple
_________
straw
_____

In [217]:
string = "Singapore"

for each_element in string:
    print(each_element)

S
i
n
g
a
p
o
r
e

In [219]:
nums = [4,1,3,5,6,8,9]
[n*2 for n in nums]

[8, 2, 6, 10, 12, 16, 18]

In [220]:
nums = [4,1,3,5,6,8,9]
[n for n in nums]

[4, 1, 3, 5, 6, 8, 9]

In [228]:
nums = [4,1,3,5,6,8,9]
print(f"{[n*'$' for n in nums]}")

['$$$$', '$', '$$$', '$$$$$', '$$$$$$', '$$$$$$$$', '$$$$$$$$$']

In [231]:
nums = [4,1,3,5,6,8,9]

[f'${n}' for n in nums]

['$4', '$1', '$3', '$5', '$6', '$8', '$9']

In [232]:
nums = [4,1,3,5,6,8,9]
gst = 1.7
[f'${n*gst}' for n in nums]

['$6.8', '$1.7', '$5.1', '$8.5', '$10.2', '$13.6', '$15.299999999999999']

In [233]:
nums = [4,1,3,5,6,8,9]
gst = 1.7
[f'${int(n*gst)}' for n in nums]

['$6', '$1', '$5', '$8', '$10', '$13', '$15']

In [236]:
nums = [4,1,3,5,6,8,9]
gst = 1.7
[f'${round(n*gst,4)}' for n in nums]

['$6.8', '$1.7', '$5.1', '$8.5', '$10.2', '$13.6', '$15.3']

In [240]:
nums = [4,1,3,5,6,8,9]
gst = 1.7
[f'${(n*gst):.2f}' for n in nums]

['$6.80', '$1.70', '$5.10', '$8.50', '$10.20', '$13.60', '$15.30']

In [241]:
nums = [4,1,3,5,6,8,9]
gst = 1.7
[f'${(n*gst):.3f}' for n in nums] #f = format

['$6.800', '$1.700', '$5.100', '$8.500', '$10.200', '$13.600', '$15.300']

In [243]:
nums = [4,1,3,5,6,8,9]
gst = 1.7
[f'${(n*gst):.3f}' for n in nums]

['$6.800', '$1.700', '$5.100', '$8.500', '$10.200', '$13.600', '$15.300']

In [253]:
nums = [4,1,3,5,6,8,9]
gst = 1.7
# [f'${ if n>3  (n*gst):.3f   else n }' for n in nums] #f = format

[f'${ (n*gst) if n>3 else n }' for n in nums] #f = format

['$6.8', '$1', '$3', '$8.5', '$10.2', '$13.6', '$15.299999999999999']

In [262]:
# Method1 (Use this method if only one format)
nums = [4,1,3,5,6,8,9]
gst = 1.7
# [f'${ if n>3  (n*gst):.3f   else n }' for n in nums] #f = format

[f'${ ((n*gst) if n>3 else n):.2f}' for n in nums] #f = format

['$6.80', '$1.00', '$3.00', '$8.50', '$10.20', '$13.60', '$15.30']

In [263]:
# Method2 (resulst in formtting issues)

nums = [4,1,3,5,6,8,9]
gst = 1.7
# [f'${ if n>3  (n*gst):.3f   else n }' for n in nums] #f = format

[f'${ (n*gst):.2f}'  if n>3 else n for n in nums] #f = format

['$6.80', 1, 3, '$8.50', '$10.20', '$13.60', '$15.30']

In [264]:
# Method2 (Use this method if multiple format)

nums = [4,1,3,5,6,8,9]
gst = 1.7
# [f'${ if n>3  (n*gst):.3f   else n }' for n in nums] #f = format

[f'${ (n*gst):.2f}'  if n>3 else f'${n}' for n in nums] #f = format

['$6.80', '$1', '$3', '$8.50', '$10.20', '$13.60', '$15.30']

In [265]:
[f'${ (n*gst):.2f}'  if n>3 else 'na' for n in nums] #f = format

['$6.80', 'na', 'na', '$8.50', '$10.20', '$13.60', '$15.30']

In [296]:
# Method1 (Use this method if only one format)
nums = [4,1,3,5,6,8,9]
gst = 1.7
# [f'${ if n>3  (n*gst):.3f   else n }' for n in nums] #f = format

[f'${((n*gst) if n>3 else n):.2f}'  for n in nums if n>5] #f = format

['$10.20', '$13.60', '$15.30']

In [295]:
for i in range(1,11):
    for j in range(1,11):
        print(f'{i} x {j} = {i*j}')
    print("--------------------")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
--------------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
--------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
--------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
--------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
--------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
--------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
--------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
--------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
--------------------
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
--------------------

In [ ]:
x = int(input('temp'))
print('freezing') if x<0 else ( print('cold') if 0<=x<20 else (print('hot') if 25<=x<35 else print('burning')))